.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.logoutButton {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.logoutButton:hover {
  background-color: rgba(78, 78, 185, 0.671);
}
